.header-container
	height: 75px
	display: flex
	align-items: center
	background-color: #d8cAA5
	color: #8e8d8a
	margin: 0 -50px
	.header-img
		width: 100px
		
	.header-text
		font-size: 23px;
		font-family: Staatliches